
.scrambler-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-sort {
    width: 60%;
    display: flex;
    flex-direction: column;
    
}

.control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.control > [mat-button] {
    border: 1px outset; 
}