<body>
    <div class="body">
        <h1>Encrypter/Decrypter</h1>
        <h3>Choose mode</h3>
        <div class="button-wrapper">
            <button mat-raised-button color="primary" class="mode-column" routerLink="/column">Column algorithm</button>
            <button mat-raised-button color="primary" class="mode-vigener" routerLink="/vigenere">Vigenere</button>
            <button mat-raised-button color="primary" class="mode-playfair" routerLink="/playfair">Transform</button>
        </div>
    </div>
</body>